/* Your styles here */
html{
    width: 450px;
}
body {
    width: 450px;
    margin-inline:auto;  
}

/* HEADER*/

.header{
    background-color: black;
    text-align: center;
    padding: 40px;
    margin:auto;
}

/* MAIN */
/* prima parte main*/
#div1{
    background-image: url('./banner.jpg');
    background-size: contain;
    padding:50px;
    text-align: center;
    
}

h1 {
 color: #25a2c3  ;
 font-family: "Montserrat", sans-serif; 
 font-size: 3em;
 font-weight: bold;
 line-height: 1,5;
 margin-bottom: 0.7em ;
 text-align: center;
}

p{
    color: #393d41 ;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 1.5em ;
    text-align: center;
}

button{
    color:white;
    background-color: #f04c2f  ;
    font-size: 1em;
    border:hidden;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 0.5em;
    font-family:  "Montserrat", sans-serif; 
    font-weight: bold;

}

/*seconda parte main*/

h3{
    font-family:  "Montserrat", sans-serif;  
    color: #25a2c3  ;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1,5;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;

}
#div3{
    margin: auto;
    width: 250px;
    height: 250px;
    border:hidden;
    background-image: url(./notebook.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10em;
    
}
/* terza parte main*/
.orange{
    margin-top: 3.5em;
    background-color: #e22d0e;
    margin-bottom: 3.5em;

}
h2{
    color: white;
    font-family: "Montserrat", sans-serif; 
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    padding-top:  2.2em;
    margin-bottom: 0.7em ;
    text-align: center;
}
#div2 {
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-inline: 2.3em;
    line-height: 1.65;
}
h4 {
    padding-top: 1.5em;
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
}

h6{
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    font-size: 0.8em;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
}

/*quarta parte main*/

.box{
    border: #dee1e3;
    padding-inline: 1em;
    width: 380px;
    
}

#boxfoto1{
    margin:auto;
    width: 380px;
    height: 250px;
    border:hidden;
    background-image: url(./foto1.jpg);
    background-size: cover;
    background-position: center;
}

#boxfoto2{
    margin:auto;  
    width: 380px;
    height: 250px;
    border:hidden;
    background-image: url(./foto2.jpg);
    background-size: cover;
    background-position: center;
}
#boxfoto3{
    margin:auto;
    width: 380px;
    height: 250px;
    border:hidden;
    background-image: url(./foto3.jpg);
    background-size: cover;
    background-position: center;
}

/* FOOTER */

footer{
    background-color:#25a2c3 ;
    text-align: center;
    color:white;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.65;

}

hr{
    color: white;
    width: 200px;
}

.a {
    color: white;
}